[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = git://github.com/rson/vim-conque.git
[submodule "bundle/theme-neverland"]
	path = bundle/theme-neverland
	url = git://github.com/trapd00r/neverland-vim-theme.git
[submodule "bundle/perl-after_syntax"]
	path = bundle/perl-after_syntax
	url = git://github.com/trapd00r/vim-after-syntax-perl.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://gitorious.org/command-t/command-t.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/vim-scripts/snipMate.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/cute-python"]
	path = bundle/cute-python
	url = git://github.com/ehamberg/vim-cute-python.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
