# Ignore session files, as those depend on the specific file structure of whatever machine they came from.
sessions/*
*.netrwhist

# Changed on vim load
doc/tags

# swap files
*.sw?

# spell files
spellfile.add*
