[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-conque"]
	path = bundle/vim-conque
	url = git://github.com/rson/vim-conque.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/theme-neverland"]
	path = bundle/theme-neverland
	url = git://github.com/trapd00r/neverland-vim-theme.git
[submodule "bundle/perl-after_syntax"]
	path = bundle/perl-after_syntax
	url = git://github.com/trapd00r/vim-after-syntax-perl.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://gitorious.org/command-t/command-t.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
